:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1259px;
    height: 1510px;
    margin: 0 auto;
  }
  .perfume-bottle {
    position: relative;
    width: 1259px;
    height: 1382px;
    margin: 73px 0 0 0;
    background: url(https://static.codia.ai/image/2025-03-17/f6819f25-a413-4cab-a51c-ed4b93b1f849.png)
      no-repeat center;
    background-size: cover;
    z-index: 3;
    overflow: visible auto;
  }
  .rectangle {
    position: relative;
    width: 1242px;
    height: 1382px;
    margin: 0 0 0 0;
    background: #068585;
    z-index: 2;
    overflow: visible auto;
  }
  .rectangle-1 {
    position: relative;
    width: 632px;
    height: 718px;
    margin: 323px 0 0 322px;
    font-size: 0px;
    background: rgba(0, 0, 0, 0.54);
    z-index: 4;
    overflow: visible auto;
    border-radius: 63px;
  }
  .otp {
    display: block;
    position: relative;
    height: 94px;
    margin: 37px 0 0 236px;
    color: #ffffff;
    font-family: Grey Qo, var(--default-font-family);
    font-size: 96px;
    font-weight: 400;
    line-height: 94px;
    text-align: left;
    white-space: nowrap;
    z-index: 5;
  }
  .enter-otp {
    display: block;
    position: relative;
    height: 23px;
    margin: 51px 0 0 82px;
    color: #ffffff;
    font-family: Grey Qo, var(--default-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
  }
  .flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 353px;
    height: 65px;
    margin: 21px 0 0 129px;
    z-index: 9;
  }
  .rectangle-2 {
    flex-shrink: 0;
    position: relative;
    width: 68px;
    height: 65px;
    background: url(https://static.codia.ai/image/2025-03-17/9de2e082-cdbd-4f8f-bbc0-717d85ccb1d3.svg)
      no-repeat center;
    background-size: cover;
    z-index: 6;
  }
  .rectangle-3 {
    flex-shrink: 0;
    position: relative;
    width: 68px;
    height: 65px;
    background: url(https://static.codia.ai/image/2025-03-17/42c0c212-aab4-4c25-934c-f146f830516e.svg)
      no-repeat center;
    background-size: cover;
    z-index: 7;
  }
  .rectangle-4 {
    flex-shrink: 0;
    position: relative;
    width: 68px;
    height: 65px;
    background: url(https://static.codia.ai/image/2025-03-17/5406ddf6-6c1b-49bb-9475-7c5ebede8da0.svg)
      no-repeat center;
    background-size: cover;
    z-index: 8;
  }
  .rectangle-5 {
    flex-shrink: 0;
    position: relative;
    width: 68px;
    height: 65px;
    background: url(https://static.codia.ai/image/2025-03-17/f1b89a7a-aefd-49f0-9bae-43828ea0cd90.svg)
      no-repeat center;
    background-size: cover;
    z-index: 9;
  }
  .group {
    position: relative;
    width: 195px;
    height: 65px;
    margin: 38px 0 0 215px;
    background: url(https://static.codia.ai/image/2025-03-17/496f9bc5-ae39-477b-80d4-6e26da02bae6.svg)
      no-repeat center;
    background-size: cover;
    z-index: 10;
    border-radius: 15px;
  }
  .group-6 {
    position: absolute;
    width: 195px;
    height: 65px;
    top: 0;
    left: 0;
    background: url(https://static.codia.ai/image/2025-03-17/e5e48f68-0f74-4ace-a4d6-20051d0d5d68.svg)
      no-repeat center;
    background-size: cover;
    z-index: 11;
    border-radius: 15px;
  }
  .submit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 27px;
    top: 19px;
    left: 62px;
    color: #ffffff;
    font-family: Gruppo, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 19.326px;
    text-align: left;
    white-space: nowrap;
    z-index: 18;
  }
  .flex-row-e {
    position: relative;
    width: 257.5px;
    height: 27px;
    margin: 25px 0 0 183px;
    z-index: 17;
  }
  .time-30 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 27px;
    top: 0;
    left: 104px;
    color: #ffffff;
    font-family: Gruppo, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 19.326px;
    text-align: left;
    white-space: nowrap;
    z-index: 17;
  }
  .line {
    position: absolute;
    width: 79.013px;
    height: 2px;
    top: 12.5px;
    left: -0.01px;
    background: url(https://static.codia.ai/image/2025-03-17/f9518afe-d6cd-4a5d-ac6e-cbe609a98ed1.svg)
      no-repeat center;
    background-size: cover;
    z-index: 15;
  }
  .line-7 {
    position: absolute;
    width: 79.013px;
    height: 2px;
    top: 13.5px;
    left: 178.494px;
    background: url(https://static.codia.ai/image/2025-03-17/d1dbc81a-0b0e-4c3e-b077-97f8c1d58510.svg)
      no-repeat center;
    background-size: cover;
    z-index: 16;
  }
  .rectangle-8 {
    position: relative;
    width: 299px;
    height: 48px;
    margin: 128px 0 0 178px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 19;
    border-radius: 15px;
  }
  .resend-otp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 27px;
    top: 10px;
    left: 78px;
    color: #ffffff;
    font-family: Gruppo, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 19.326px;
    text-align: left;
    white-space: nowrap;
    z-index: 19;
  }
  